<div class="header dialog-font-color custom-dialog-header"
  cdkDragHandle cdkDrag cdkDragRootElement=".cdk-overlay-pane"
>
  <h2>{{ "sqrm.SQ_L02500" | translate }}</h2>
  <button type="button" aria-label="Close this dialog" mat-dialog-close>×</button>
  <hr />
</div>

<mat-dialog-content class="dialog-font-color popup-90vh">
  <div class="sub-screen-container">
    <form>
      <table>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02501" | translate }}</p></td>
          <td>
            <div class="flex">
              <div class="flex flex-row">
                <input type="text" />
                <button class="btn btn-secondary">{{ "sqrm.SQ_L02502" | translate }}</button>
              </div>
              <button class="btn btn-secondary">{{ "sqrm.SQ_L02503" | translate }}</button>
            </div>
          </td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02504" | translate }}</p></td>
          <td></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02505" | translate }}</p></td>
          <td></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02506" | translate }}</p></td>
          <td></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02507" | translate }}</p></td>
          <td></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02508" | translate }}</p></td>
          <td></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02509" | translate }}</p></td>
          <td></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02510" | translate }}</p></td>
          <td><textarea style="overflow-y: scroll;"></textarea></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02511" | translate }}</p></td>
          <td><textarea style="overflow-y: scroll;"></textarea></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02512" | translate }}</p></td>
          <td><textarea style="overflow-y: scroll;"></textarea></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02513" | translate }}</p></td>
          <td><textarea style="overflow-y: scroll;"></textarea></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02514" | translate }}</p></td>
          <td><textarea style="overflow-y: scroll;"></textarea></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02515" | translate }}</p></td>
          <td></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02517" | translate }}</p></td>
          <td></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02518" | translate }}</p></td>
          <td></td>
        </tr>
        <tr>
          <td class="label-cell"><p>{{ "sqrm.SQ_L02519" | translate }}</p></td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
  
  <br/>

  <div class="footer-btn">
    <button type="button" class="btn btn-primary btn-fw">{{ "sqrm.SQ_L02520" | translate }}</button>
    <button type="button" class="btn btn-primary btn-fw">{{ "sqrm.SQ_L02521" | translate }}</button>
  </div>
</mat-dialog-content>


